@import "compass/reset";
@import "partials/_normalize.scss";
@import "partials/color-palette/_blue-grey.scss";
@import "partials/_fonts.scss";
@import "partials/_containers.scss";
@import "partials/_grid.scss";
@import "partials/_navbar.scss";
@import "partials/_cards.scss";
@import "partials/_buttons.scss";
html, body{
  height: 100%;
  width: 100%;
}


.header-wrapper{
  background-color: $color-main;
  height: 500px; //fallback
  height: 100vh;
  text-align: center;
}

.header-text{
  padding-top: 210px;//fallback
  padding-top: 40vh;
  *{  color: $light-text !important;}
}

.wrapper{
  width: 100%;
	padding-top: 40px;
}

.hr{

	color: $dark-text;
	@extend .text-dark-divide;
}

#grid .row div{
  background-color: $color-1;
}

.menu{
  position: absolute;
  display: fixed;
}