@import "compass/reset";
@import "partials/_normalize.scss";
@import "partials/color-palette/_blue-grey.scss";
@import "partials/_fonts.scss";
@import "partials/_containers.scss";
@import "partials/_grid.scss";
@import "partials/_navbar.scss";
@import "partials/_buttons.scss";

/*SITE EXAMPLE*/
$accent-color: #2196F3; //from _blue.scss

html, body{
  height: 100%;
  width: 100%;
}


.header-wrapper{
  background-color: $color-main;
  height: 500px; //fallback
  height: 100vh;
  text-align: center;
  color: $light-text;
}

.header-text{
  padding-top: 210px;//fallback
  padding-top: 40vh;
}
