/*buttons*/
.button{
  padding: 10px;
}
  /*button default*/
  .button-default{
    border: 1px solid $color-main;
    color: $color-main;
  }
  /*button primary*/
 .button-primary{
   border: 1px solid $color-main;
   color: $color-main;
 }
