/*buttons*/
.button{
  text-transform: uppercase;
  @extend .padding, .shadows;
}
  /*button default*/
  .button-default{
    background-color: $color-1;
    span{  
      @extend .text-dark-secondary;
    }
  }
  .button-accent{
    background-color: $accent-color;
    span{  
      color: $light-text;
      @extend .text-dark-primary;
    }
  }
  /*button primary*/
 .button-color{
   background-color: $color-main;
  span{  
      color: $light-text;
      @extend .text-dark-primary;
    }
 }
