/*Grid*/
/*border-box*/
html *, *:after, *:before {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
/*row */
.row::after {
    content: "";
    clear: both;
    display: block;
}
.row{
  width: 100%;
  margin: auto;
}
/*columns*/
.col-1{
  width:9%;
}
.col-2{
  width:19%;
}
.col-3{
  width:29%;
}
.col-4{
  width:39%;
}
.col-5{
  width:49%;
}
.col-6{
  width:59%;
}
.col-7{
  width:69%;
}
.col-8{
  width:79%;
}
.col-9{
  width:89%;
}
.col-10{
  width:99%;
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10{
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}
/*comtainer*/
.container{
  width: 80%;
}
.container-fluid{
  width: 100%;
}
  /*box-sizing*/
  .container, .container-fluid{
    box-sizing: border-box;
    margin: auto;
  }
  /*padding*/
  .container{
    padding-left: 20px;
    padding-right: 20px;
  }
.pad{
  padding: 10px;
}
.pad-top{
  padding-top: 15px;
}
.pad-bottom{
  padding-bottom: 15px;
}
/*movil*/
.adaptative{

}
