/*navbars*/
.navbar{
 list-style:unset;
 width: 100%;
}
.navbar-link{
  font-size: 1em;
  padding-left: 20px; padding-right: 20px;
}
.navbar-brand{
  padding-top: 15px;
  text-align: center;
  font-size: 1.5em;
}
.navbar-list, .navbar-brand{
  display:block;
}
.navbar-list{
  li {display: inline-block;  padding-top: 10px;
    padding-bottom: 10px;}
  li ul {display: none;}
}
