$color-main: #607D8B;
$color-1: #ECEFF1;
$color-2: #CFD8DC;
$color-3: #B0BEC5;
$color-4: #90A4AE;
$color-5: #78909C;
$color-6: #607D8B;
$color-7: #546E7A;
$color-8: #455A64;
$color-9: #37474F;
$color-10: #263238;
